.popup {
    display: block;
    position: absolute;
    left: 38%;
    top: 52px;
    width: 550px;
    border: 1px solid black;
    border-radius: 30px;
    height: 55px;
    background: linear-gradient(to right, #ffffff, #f5f3f3);
}
.popup-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}
.btn {
    margin: 0 8px;
    background: none;
    border: none;
}
.btn-container {
    margin-left: 30px;
}
.btn.cancel {
    background: linear-gradient(to right, #ffffff, #f5f3f3);
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    width: 70px;
    padding: 5px;
}
.btn.add {
    background: linear-gradient(to right, #ff512f, #e02222);
    color: white;
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    width: 90px;
    padding: 5px;
}
.input-text {
    border: none;
    margin-top: 5px;
    background-color: transparent;
    border-bottom: 1px solid #2e2e2e;
}